//- Include variables
//- ----------------------------------------------------------------------------
include application/_variables.jade

//- Extends laout (s)
extends application/layouts/_default.jade
